body {
    font-family: 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    background-color:  #fafafa;
    color: #333;
}
header {
    background-color: #765ef1;
    color: white;
    text-align: center;
    padding: 40px 0;
}
h1 {
    margin: 0;
    font-size: 2.5rem;
}
.list {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 15px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.card h2 {
    font-size: 1.7rem;
    color: #4f4f4f;
}
.card p {
    color: #4f4f4f;
    font-size: 1rem;
    margin: 15px 0;
}
.btn-back {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: hsl(250, 84%, 66%);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}